.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
.DS_Store
_config.yml

# don't upload data folder
data
R_functions

# don't upload .Rmd files
*.Rmd

# don't upload .md files
01_data-reshaping.Rmd
02_data-cleaning.Rmd
03_data-preprocessing.Rmd


# don't upload HTML files
*.html


